* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney A', 'Whitney B', 'Helvetica Neue', 'Arial', sans-serif;
}

.top,
#community, #fandom, #invite-only, #tecnology,
#table,
#ft_conteiner {
    padding: 1rem 15rem 1rem 15rem;
}

.top {
    background-color: #3161e0;

}

.header {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    background-color: #3161e0;
}


#logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
}

.list-unstyled {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;

    a {
        color: white;
        text-decoration: none;
    }

    &.hover {
        text-decoration: none;
    }

}

button.login_bt[type=button] {
    color: #313538;
    background-color: #ffffff;
    border-radius: 100px;
    border: none;
    padding: 0.7rem;
    margin-right: 3rem;
}

#jumbotron {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    align-items: center;

    >div {
        padding: 8rem 0rem 12rem 0rem;
        width: 45%;
        margin: auto;
        text-align: center;
    }

    #titol {
        text-align: center;
        font-size: 48px;
        color: white;
        padding-bottom: 1.5rem;
    }

    #text-jmb {
        font-size: 22px;
        text-align: center;
        color: white;
        padding: 1.5rem 1rem;
        line-height: 2rem;
    }
}

#button_container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

button#scarica[type=button] {
    color: #313538;
    background-color: #ffffff;
    border-radius: 50px;
    border: none;
    padding: 1rem 1.5rem;
    font-weight: 600;
    font-size: 16px;
}

button#open[type=button] {
    color: white;
    background-color: #23272a;
    border-radius: 100px;
    border: none;
    padding: 1rem 1.5rem;
    font-weight: 600;
    font-size: 16px;
}


#invite-only {
    display: flex;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .big-box {
        display: flex;
        justify-content:flex-end;
        padding-right: 0;
    }

    .small-box {
        padding-top: 2.5rem;
        padding-right: 5rem;
        padding-left: 10rem;

        h1 {
            font-size: 50px;
        }
        
        p { padding-right: 5rem;
            padding-top: 1rem;
            line-height: 30px;
            font-size: 18px;
        }
    }
}


#community {
    display: flex;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .big-box {
        display: flex;
        justify-content:flex-start;
        padding-right: 0;
    }

    .small-box {
        padding-top: 2.5rem;
        padding-left: 7rem;
        padding-right: 10rem;

        h1 {
            font-size: 50px;
        }
        
        p { padding-right: 6rem;
            padding-top: 1rem;
            line-height: 30px;
            font-size: 18px;
        }
    }
}

#fandom {
    display: flex;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .big-box {
        display: flex;
        justify-content:center;
        padding-right: 0;
    }

    .small-box {
        padding-top: 2.5rem;
        padding-right: 5rem;
        padding-left: 10rem;

        h1 {
            font-size: 50px;
        }
        
        p { padding-right: 5rem;
            padding-top: 1rem;
            line-height: 30px;
            font-size: 18px;
        }
    }
}

.big-box {
    width: 55%;

    img {
        max-width: 100%;
    }
}

.small-box {
    width: 45%;
}

#tecnology {
    background-color: #f6f6f6;
    text-align: center;

    h1  {
        padding: 2rem 0;
        font-size: 35px;
        font-weight: bold;
        font-weight: 700;
    }

    p {
        padding: 0 20rem;
        font-size: 15.5px;
    }

    img {
        padding: 2rem 0 ;
    }
}

#star {
    width: 40%;
    margin: auto;
    background-image: url(./img/stars.svg);
    padding: 1rem 0;
    margin-bottom: 2rem;
}

#tecnology_bt[type=unload_bt] {
    color: white;
    background-color: #8ea1e1;
    border-radius: 50px;
    border: none;
    padding: 1rem 1.5rem;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6rem;
}

#table {
    background-color: #23272a;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

#nav {
    width: 33%;
    padding-right: 15rem;

    h2 {
        font-size: 30px;
        color: #687cc4;
        padding-bottom: 1rem;
    }
}

#italian {
    padding-right: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    p {
        padding-right: 0.25rem;
        font-size: 12px;
    }
}

#image {
    height: 15px;
    padding-right: 0.5rem;
}

#social-section {
    padding-top: 1rem;
}

.social_imm {
    height: 25px;
    padding-right: 1rem;
}

.aside {
    width: 17%;
}

#product {
    list-style: none;
    color: white;

    #first_element {
        color: #687cc4;
        font-weight: bold;

    }

    li {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

#company {
    list-style: none;
    color: white;

    #first_element {
        color: #687cc4;
        font-weight: bold;
    }

    li {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

#risorse {
    list-style: none;
    color: white;

    #first_element {
        color: #687cc4;
        font-weight: bold;
    }

    li {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

#norme {
    list-style: none;
    color: white;

    #first_element {
        color: #687cc4;
        font-weight: bold;
    }

    li {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

#ft_conteiner {
    background-color: #23272a;
    min-height: 50px;
    padding-bottom: 3rem;
}

#footer {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ft_button {
    padding: 10px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #687cc4;
    text-decoration: none;
}